*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.3s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3,input,textarea{
    cursor: url('../cursors/text.cur'), auto;
}
input[type="submit"]{
    cursor: url('../cursors/link.cur'), auto;
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    margin: 0;
    background:linear-gradient(to left, #09172b, #09182d);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:10px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px solid #aaa;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display:inline-flex;
    background:url(../imgs/transferr-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    height:400px;
    width: 100%;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    position: relative
}
.main .main-overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #09172b 100%, #09172b 100%);
    opacity: 0.85;
    z-index: 1;
}
.main .BoxDiv{
    font-size:25px;
    font-weight: bold;
    padding: 100px 180px;
    width: 100%;
    color: white;
    z-index: 2
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:55px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}
.Rules .rules-content{
    margin-top: 20px;
}
.Rules .rules-content .rule-content{
    font-family: 'Bree Serif', serif;
    padding:10px;
    background-color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    text-align: left;
}
.Rules{
    background-color:#fff;
    color:#000;
    font-size:20px;
    box-shadow: 1px 1px 1px #000;
    text-align: center;
}
.Rules .ruleimg{
    width:90%;
    height:450px;
    margin-top:130px;
    margin-bottom:20px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    border-radius:20%;
}
.Rules > p{
    text-align: center;
    padding:0 20px;
    margin:20px 0 0 120px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
}
.Rules h1{
    font-size:45px;
    padding:55px 0 20px;
    font-family: 'Bree Serif', serif;
}
.Rules .ruleslist{
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
}
.Rules .rules-content .rule-content{
    font-family: 'Bree Serif', serif;
    padding:10px;
    background-color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    text-align: left;
}
.Rules .rules-content h2{
    font-size:55px;
    padding:5px;
    background:#0f1b2c;
    color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    font-family: 'Changa', sans-serif;
}
.Rules .rules-content h3{
    font-size: 45px;
    background-color: #971080;
    color: #fff;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
    font-family: 'Changa', sans-serif;
    margin: 0 auto;
}
.Rules .rules-content .blue{
    background-color: darkblue;
}
.Rules .rules-content .yellow{
    background-color: #cc0404;
}
.Rules .rules-content h4{
    font-size:28px;
    background-color:cornflowerblue;
    color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    font-family: 'Changa', sans-serif;
    direction: rtl;
    width:40%;
    border-radius: 20px;
    float: right;
    margin-right:30px;
    margin-top:-15px
}
.rules-div {
    padding:40px;
}
.rules-div p {
    font-family: 'DinarTwo';
    text-align: right;
    direction: rtl;
    padding: 15px;
    font-size: 26px
}
.rules-div p::before {
    content: " * "
}
footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}

#ResponsiveP{
        min-width: 180px;!important
}
@media screen and (max-width : 1280px) {
    body{
        min-width: 1250px
    }
    .main .BoxDiv h1 {
        font-size: 50px;
    }
}
@font-face {
    font-family: 'DinarTwo';
    src: url('../fonts/DinarTwo.otf') format('opentype');
}