*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.3s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3,input,textarea{
    cursor: url('../cursors/text.cur'), auto;
}
input[type="submit"]{
    cursor: url('../cursors/link.cur'), auto;
}
hr{
    box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    background:linear-gradient(to left, #09172b, #09182d);
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    z-index: 1;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.5);
    
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:9px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px inset #ccc;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

header{
    position: relative;
    color:#fff;
    font-size:22px;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease-out;
    font-family: 'Allerta Stencil', sans-serif;
}
header:hover{
    opacity: 0.95;
    transition: all 0.5s ease-in;
}
header div {
    background-color: rgba(0,0,0,0.6);
    width:100%;
    box-sizing: border-box;
    padding:25px 40px;
    position: absolute;
    top: 0;
    height: 600px;
    text-align: left;
}
header img{
    display: inline;
    width:100%;
    height:600px
}
header div p,h1 {
    text-align: left;
    font-weight: bold;
    margin-left: 100px;
}
header div h1{
    font-family: 'Bree Serif', serif;
    font-size:70px;
    margin-top: 130px;
    margin-bottom:5px;
}
header button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size:28px;
    padding: 7px 25px;
    border-radius:100px;
    cursor:url(../cursors/link.cur), auto;
    border: 2px inset #fff;
    background:rgba(0,0,0,0.6);
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
    transition: all 0.5s ease-in;
}
header button:hover {
    background:#09172b;
    color: #fff;
    transition: all 0.5s ease-out;
}
.intro{
    background:rgba(0,0,0,0.03);
    color:#000;
    font-size:20px;
    text-align: center;
    padding-bottom:50px
}
.intro iframe{
    width:95%;
    height:640px;
    margin:40px 0px 20px;
    box-shadow: 0px 0px 3px 0px #000;
    border:35px solid #fff;
    border-radius:50px
}
.intro h1{
    font-size:45px;
    padding:55px 0 10px;
    font-family: 'Bree Serif', serif;
}
.intro span{
    padding:10px 30px;
    margin: 0 50px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Khand', sans-serif;
    
}
.intro .icons{
    display: inline-flex;
    padding-bottom: 40px;
    padding-top: 40px
}
.intro .htwo{
    font-size:60px;
    padding:0 0 10px;
}
.intro .icons span{
    letter-spacing:1px
}
.clubcups{
    color:#000;
    font-size:20px;
    text-align: center;
    padding-top:50px;
    margin-top: 5px
}
.clubcups .ccups{
    width:92%;
    height:400px;
    margin-top:100px;
    margin-bottom:20px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    border-radius:20%;
}
.clubcups h1{
    font-size:45px;
    padding:55px 0 40px;
    font-family: 'Bree Serif', serif;
}
.clubcups p{
    padding:0 40px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
}
.clubcups .Cups{
    padding-bottom: 40px;
    padding-top: 40px
}
.clubcups .Cups h2{
    padding:5px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    margin-bottom:60px;
    border-radius:30%;
    font-family: 'Bree Serif', serif;
    letter-spacing: 5px;
}
.clubcups .Cups div {
    display: inline-table;
    margin: 10px 70px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    text-align: center;
    border-radius:10px;
    padding:30px 0px;
    background:#fff;
    min-width:275px;
    cursor: url('../cursors/link.cur'), auto;
}
.clubcups .Cups div:hover{
    background-color: #FAFAFA;
}
.clubcups .Cups img{
    width:200px;
    height:200px;
    cursor: url('../cursors/link.cur'), auto;
}
.clubcups .Cups p {
    font-size:20px;
    border-top:1px solid;
    padding-top:10px;
    margin-top:15px;
    font-family: 'Bree Serif', serif;
    cursor: url('../cursors/link.cur'), auto;
}
.main1{
    display:inline-flex;
    background:linear-gradient(to right, #c9d6ff, #fff);
    text-align: center;
    width:97%;
    height:410px;
    border-radius:20%;
    margin:28px 0 0 0px;
    border-left:40px solid;
}
.main1 .BoxDiv1{
    font-size: 25px;
    font-weight: bold;
    padding:90px;
    width:70%
}
.main1 .BoxDiv1 h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
}
.main1 .BoxDiv1 span{
    font-family: 'Quicksand', sans-serif;
    font-size:30px
}
.main1 .BoxImg1{
    background: url(../imgs/ccups.jpg) 40% 40%;
    width:45%;
    height:450px;
    margin-top:-25px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius:40%;
}

.main2{
    display:inline-flex;
    background:linear-gradient(to right, #fff, #F2C94C, #F2C94C);
    text-align: center;
    width:97%;
    height:410px;
    border-radius:20%;
    margin:40px 0 0 0px;
    border-right:40px solid;
}
.main2 .BoxDiv2{
    font-size: 25px;
    font-weight: bold;
    padding:90px;
    width:70%
}
.main2 .BoxDiv2 h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
}
.main2 .BoxDiv2 span{
    font-family: 'Quicksand', sans-serif;
    font-size:30px
}
.main2 .BoxImg2{
    background-image: url(../imgs/boximg2.jpg);
    background-size: 100% 100%;
    width:47%;
    height:500px;
    margin-top:-45px;
    margin-left:10px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius:40%;
}

.main3{
    display:inline-flex;
    background:linear-gradient(to right, #6f0000,#6f0000, #fff);
    text-align: center;
    width:97%;
    height:410px;
    border-radius:20%;
    margin:28px 0 0 0px;
    border-left:40px solid #000;
    color:#fff;
}
.main3 .BoxDiv3{
    font-size: 25px;
    font-weight: bold;
    padding:90px;
    width:70%
}
.main3 .BoxDiv3 h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:50px
}
.main3 .BoxDiv3 span{
    font-family: 'Quicksand', sans-serif;
    font-size:30px
}
.main3 .BoxImg3{
    background: url(../imgs/rules.jpg) 50% 50%;
    width:45%;
    height:470px;
    margin-top:-25px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius:40%;
}

.natcups{
    background:rgba(0,0,0,0.02);
    font-size:20px;
    text-align: center;
    padding-top:40px;
    padding-bottom:100px
}
.natcups .ccups{
    width:90%;
    height:450px;
    margin-top:120px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.7);
    border-radius:20%;
}
.natcups h1{
    font-size:45px;
    padding:55px 0 40px;
    font-family: 'Bree Serif', serif;
}
.natcups p{
    padding:0 37px 5px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
}
.natcups .Cups{
    padding-bottom: 40px;
    padding-top: 40px
}
.natcups .Cups h2{
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    margin-bottom:60px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 5px;
    border-radius:20%;
    background:#fff
}
.natcups .Cups div {
    display: inline-table;
    margin: 10px 83px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    text-align: center;
    border-radius:10px;
    padding:15px 5px;
    max-width:260px;
    background:#fff;
    cursor: url('../cursors/link.cur'), auto;
}
.natcups .Cups div:hover{
    background-color: #FAFAFA;
}
.natcups .Cups img{
    width:220px;
    height:220px;
    cursor: url('../cursors/link.cur'), auto;
}
.natcups .Cups p {
    font-size:18px;
    border-top:1px solid;
    padding-top:10px;
    margin-top:15px;
    font-family: 'Bree Serif', serif;
    cursor: url('../cursors/link.cur'), auto;
}

.Rules{
    background-color:#fff;
    color:#000;
    font-size:20px;
    box-shadow: 1px 1px 1px #000;
    text-align: center;
}
.Rules .ruleimg{
    width:90%;
    height:450px;
    margin-top:130px;
    margin-bottom:20px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    border-radius:20%;
}
.Rules > p{
    text-align: center;
    padding:0 20px;
    margin:20px 0 0 120px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
}
.Rules h1{
    font-size:45px;
    padding:55px 0 20px;
    font-family: 'Bree Serif', serif;
}
.Rules .ruleslist{
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
}
.Rules .rules-content{
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background-color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}
.Rules .rules-content .rule-content{
    font-family: 'Bree Serif', serif;
    padding:10px;
    background-color:#fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
    text-align: left;
}
.Rules .rules-content h2{
    font-size:55px;
    padding:10px;
    background-color:#FAFAFA;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);
}
.contact{
    padding: 50px 100px;
    background:rgba(0,0,0,0.06);
    display: inline-flex;
    color: #000;
}
.contact .form{
    padding:30px;
    font-size:30px;
    width:60%
}
.contact .form h2{
    font-family: 'Bree Serif', serif;
    font-size:45px;
    padding:5px
}
.contact .form input{
    padding:8px;
    font-size:24px;
    width:75%;
    margin:10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    border:none
}
.contact .form input[type="submit"]:hover{
    background-color:#fff
}
.contact .form textarea{
    padding:8px;
    font-size:20px;
    width:75%;
    margin: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    font-family: 'Bree Serif', serif;
    border-radius: 5px;
    border:none
}
.contact .address{
    padding:30px;
    font-size:30px
}
.contact .address h2{
    font-family: 'Bree Serif', serif;
    font-size:45px;
    padding:5px
}
.contact .address span{
    font-size:30px;
    padding:40px 5px;
    font-family: 'Khand', sans-serif;
}
/* Extra */
.bdrbtm{
    width:100%;
    border-bottom:5px solid;
    margin-bottom:20px
}
.heading{
    padding:0 320px;
}
footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}
#ResponsiveP{
        min-width: 180px;!important
    }

@media screen and (max-width : 1280px) {
    body{
        min-width: 1520px
    }
    .main .BoxDiv h1 {
        font-size: 50px;
    }
    .heading {
    padding: 0 240px;
}
}