*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.3s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3{
    cursor: url('../cursors/text.cur'), auto;
}
hr{
    border: 1px inset #000;
    border-radius: 50%;
    opacity: 0.7;
    margin:20px 10px
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    margin: 0;
    background:linear-gradient(to left, #09172b, #09182d);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:10px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px solid #aaa;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display:inline-flex;
    background:url(../imgs/ncups-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    height:400px;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    position: relative
}
.main .main-overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #09172b 100%, #09172b 100%);
    opacity: 0.85;
    z-index: 1;
}
.main .BoxDiv{
    font-size:25px;
    font-weight: bold;
    padding: 100px 180px;
    width: 100%;
    color: white;
    z-index: 2
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:55px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}

.natcups-section{
    padding:10px 50px 80px;
    text-align: center;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
}
.natcups-section p{
    padding:0 20px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
}
.natcups-section .Cups{
    padding-top:50px
}
.natcups-section .Cups h2{
    padding:5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    margin-bottom:60px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 5px;
    border-radius:100px;
}
.natcups-section .Cups div {
    position: relative;
    box-sizing: border-box;
    display: inline-table;
    margin: 40px 30px;
    box-shadow:inset 0px 0px 6px 1px rgba(0,0,0,0.5);
    text-align: center;
    border-radius:50px;
    padding:40px 0px;
    cursor: url('../cursors/link.cur'), auto;
    transition: all 0.4s ease-in;
}
.natcups-section .Cups div:hover{
    background-color: #F2F2F2;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
    transform: translate(0px,-20px);
    transition: all 0.3s ease-out;
}
.natcups-section .Cups img{
    width:200px;
    height:200px;
    padding-bottom:10px;
    cursor: url('../cursors/link.cur'), auto;
}
.natcups-section .Cups p {
    font-size:22px;
    border-top:1px solid;
    padding-top:20px;
    margin-top:15px;
    font-family: 'Master';
    cursor: url('../cursors/link.cur'), auto;
}

.Hidden-PL{
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background: url(../imgs/ncups-header.jpg);
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
}
.Hidden-PL h2 {
    font-size: 35px;
    color: #d20a11;
}
.Hidden-PL .hidden-header{
    margin:0px 0px 20px;
}
.Hidden-PL .hidden-header img {
    border-radius:5px;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.8);
    width:100%;
    height:600px;
}
.Hidden-PL .hidden-content{
    font-family: DinarTwo;
    padding:60px 20px;
    background-color:#fff;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    direction: rtl;
    font-weight: bold
}
.Hidden-PL .hidden-content .nlmatches {
    font-family: 'Changa', serif;
}
.Hidden-PL .hidden-content select{
    height:50px;
    width:40%;
    padding:5px;
    margin:15px 5px;
    font-size: 23px;
    font-family: DinarTwo;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    border-radius:10px
    
}
.Hidden-PL .hidden-content .SeasonShow .s-header{
    margin-top: 50px;
    text-align: center;
}
.Hidden-PL .hidden-content .SeasonShow .s-header h1{
    font-size:45px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
    padding:5px;
    border-radius: 50px
}
.h-header{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
    padding: 20px;
    position:relative;
}
.header-p{
    font-size: 45px;
    margin: 10px auto;
    padding:0px 30px 10px;
    color: #3d083e;
    background: #fff;
    width: 435px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    position:relative;
    z-index: 2;
    box-shadow:inset 0px 0px 10px 2px rgba(0,0,0,0.5);
    font-family: 'Master';
}
.header-img{
    background: #eee;
    border-radius:25%;
    padding:20px;
    width: 270px;
    height: 285px;
    margin-bottom: 10px;
    margin-top: 25px;
    position:relative;
    z-index: 2;
    box-shadow:inset 0px 0px 10px 3px rgba(0,0,0,0.5);
}
.m-overlay{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    height:100%;
    width:100%;
    z-index: 1
}
.m-overlay:hover{
    background: rgba(0,0,0,0.4);
}
.result img{
    width:100%;
    height:800px;
    box-shadow: 3px 4px 4px 4px rgba(0,0,0,0.5);
    border: 2px groove #000
}
.result button{
    width:33%;
    padding:8px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Changa', serif;
    cursor: url('../cursors/link.cur'), auto;
    color:#fff;
    border-radius:25px;
    border: 3px inset;
    box-shadow:inset 0px 0px 6px 1px rgba(0,0,0,0.3);
    background: url(../imgs/ncups-header.jpg);
}
.result button:hover{
    background:darkred;
    color: #fff
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size:30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 98.4%;
  text-align: center;
    box-shadow: 3px 4px 4px 4px rgba(0,0,0,0.5);
    background:rgba(0,0,0,0.5);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.dota {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dota:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.Info{
    text-align:center;
    direction:rtl
}
.Info p{
    font-size:9px;
    margin-top:25px;
    font-family: 'Changa', sans-serif;
    font-weight:bold;
}
.back{
    width:85%;
    height:30px;
    margin:0px auto 45px;
    position:relative;
    border-radius:50px
}
.back > span{
    color:#fff;
    font-size:15px;
    font-weight:bold;
    font-family: 'Changa', sans-serif;
}
.back .Left-Team{
    background:rgba(0,0,0,0.2);
    border-radius:50%;
    width:40px;
    height:40px;
    padding:10px;
    position: absolute;
    top:-15px;
    left:10px
}
.back .Right-Team{
    background:rgba(0,0,0,0.2);
    border-radius:50%;
    width:40px;
    height:40px;
    padding:10px;
    position: absolute;
    top:-15px;
    right:10px
}
.back img{
    background:#fff;
    padding:5px;
    border-radius:50%;
    margin:-5px
}
.back .Score{
    position:absolute;
    top:0px;
    left:45%;
    width:10%;
    height:100%;
    background:#000;
    color:#fff;
    font-size:16px;
    text-align:center
}
footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px;
    
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}
#paragraph1 {
    padding-right:17px!important;
    padding-left:17px!important
}
#paragraph2 {
    padding-right:17px!important;
    padding-left:17px!important
}
#paragraph3 {
    padding-right:17px!important;
    padding-left:17px!important
}
p{
    min-width: 260px;
}
@media screen and (max-width : 1280px) {
    body{
        min-width: 1250px
    }
    .main .BoxDiv h1 {
        font-size: 50px;
    }
    .back .Score{
        font-size: 14px;
    }
    .nlmatches h1{
        font-size: 28px!important
    }
}
@font-face {
    font-family: 'Master';
    src: url('../fonts/Master.woff') format('woff');
}
@font-face {
    font-family: 'DinarTwo';
    src: url('../fonts/DinarTwo.otf') format('opentype');
}