*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.2s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3,input,textarea{
    cursor: url('../cursors/text.cur'), auto;
}
input[type="submit"]{
    cursor: url('../cursors/link.cur'), auto;
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    margin: 0;
    background:linear-gradient(to left, #09172b, #09182d);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:10px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px solid #aaa;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display:inline-flex;
    background:url(../imgs/rankings-header.png);
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    height:400px;
    width: 100%;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    position: relative
}
.main .main-overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #09172b 100%, #09172b 100%);
    opacity: 0.85;
    z-index: 1;
}
.main .BoxDiv{
    font-size:25px;
    font-weight: bold;
    padding: 100px 180px;
    width: 100%;
    color: white;
    z-index: 2
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:65px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}

.main1{
    display: inline-flex;
    color: #fff;
    background: #09172c;
    width: 100%;
    height: 200px;
    opacity: 0.9;
    border-top: 5px solid;
    border-bottom: 5px solid;
}
.main1:hover{
    opacity: 1
}

.main1 .BoxDiv{
    font-weight: bold;
    padding: 55px 10px;
    width: 100%;
    color: white;
    z-index: 1;
    text-align: center;
    cursor: url('../cursors/link.cur'), auto;
}
.main1 .BoxDiv a{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    text-decoration:none;
    color:white;
    font-size:65px;
    text-transform: uppercase;
}
.main1 .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}

/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center
}

/* Style the buttons inside the tab */
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    width: 49.8%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: darkred;
    color:#fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: darkred;
    color:#fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabcontent{
    font-family: 'Bree Serif', serif;
    padding:0px 0px;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    margin-top:3px;
    display: block
}
table{
    width:100%;
    border-collapse: collapse;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table td:nth-of-type(1){
    font-size:30px;
    width:5%;
    font-weight: bold
}
table td:nth-of-type(2){
    width:15%;
    text-align: left
}
table td:nth-of-type(3){
    font-size:27px;
    width:7%;
}
table td:nth-of-type(4){
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}
table td:nth-of-type(5){
    font-size:27px;
    width:10%;
    color: #585858
}
table td:nth-of-type(6){
    font-size:27px;
    width:10%;
    color: #000;
    font-weight: bold
}
table th{
    padding:10px;
    font-family: 'Bree Serif', serif;
    font-size:28px;
    background-color: #8A0886;
    color: white;
}
.p th{
    background-color: #e8000b;
}
table td{
    padding:10px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 33px;
    text-align: center
}

footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}

#ResponsiveP{
        min-width: 180px;!important
}
@media screen and (max-width : 1280px) {
    body{
        min-width: 1250px
    }
}