*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.2s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3{
    cursor: url('../cursors/text.cur'), auto;
}
hr{
    border: 1px inset;
    margin: 5px 0;
    border-radius: 50%;
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    margin: 0;
    background:linear-gradient(to left, #09172b, #09182d);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:10px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px solid #aaa;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display:inline-flex;
    background:url(../imgs/statistics.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    height:400px;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    position:relative;
}
.main .main-overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #09172b 100%, #09172b 100%);
    opacity: 0.85;
    z-index: 1;
}
.main .BoxDiv{
    font-size:25px;
    font-weight: bold;
    padding: 100px 180px;
    width: 100%;
    color: white;
    z-index: 2
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:55px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}

/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;
    border:2px solid #ccc;
    border-left: 0;
    border-right: 0;
    background:#0B610B;
    box-shadow: 0px 2px 20px 4px rgba(0,0,0,0.5);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color:#fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background:#088A08;
    color:#fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background:#088A08;
    color:#fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.seasons-section .tabcontent{
    display: block
}
.seasons-section .tabcontent .flex{
    display: flex
}
.seasons-section .pre{
    text-align: center
}

.seasons-section .tabcontent .secR{
    font-family: 'Bree Serif', serif;
    padding:30px 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    width:49%;
    margin:10px 0 10px 0;
    text-align: center
}
.seasons-section .tabcontent .secRd{
    font-family: 'Bree Serif', serif;
    padding:20px;
    background:#fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    width:50%;
    margin:0 0 10px 0;
}
.seasons-section .tabcontent .secR .R{
    border-bottom: 5px inset #848484;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding:15px 5px
}
.seasons-section .tabcontent .secL{
    font-family: 'Bree Serif', serif;
    padding:30px 5px;
    background:#fff;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    width:49%;
    margin:10px 5px 10px 0;
    text-align: center
}
.seasons-section .tabcontent .secLd{
    font-family: 'Bree Serif', serif;
    padding:20px;
    background:#fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    width:50%;
    margin:0 5px 10px 0;
}
.seasons-section .tabcontent .secL .L{
    border-bottom: 5px inset #848484;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding:15px 5px
}
.seasons-section .pre .seccenter{
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background:#fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    text-align: center;
    width: 100%
}

.seasons-section .tabcontent .hidden-header img {
    border-radius:27px;
    width:175px;
    height:175px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    margin:10px;
    padding:15px;
    background-color: #fff;
}
.seasons-section .tabcontent .hidden-header1 img {
    width:100%;
    height:260px;
    border-radius:30px;
    border-bottom:4px solid
}
.seasons-section .tabcontent .hidden-header p{
    font-size: 25px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    border-radius: 50px;
    font-family: 'Bree Serif', serif;
    padding: 2px 10px;
}
.seasons-section .tabcontent .details{
    text-align: left;
    margin:5px 0 10px 20px
}
@keyframes commingsoon{
    0%{box-shadow:0px 0px 0px 0px #c9d6ff}
    70%{box-shadow:5px 5px 100px 20px #c9d6ff}
    100%{box-shadow:0px 0px 0px 0px #c9d6ff}
}
footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: pointer
}
footer i:hover{
    color:#858487
}
#paragraphpre{
    font-size: 25px;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
@media screen and (max-width : 1280px) {
    body{
        min-width: 1250px
    }
    .main .BoxDiv h1 {
        font-size: 50px;
    }
}