*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.5s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3,input,textarea{
    cursor: url('../cursors/text.cur'), auto;
}
input[type="submit"]{
    cursor: url('../cursors/link.cur'), auto;
}
hr{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

nav{
    background-color: #fff;
    font-family: 'Bree Serif', serif;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
    text-align: center
}
nav ul {
    margin: 20px 0;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    display: inline-table;
}
nav ul li {
    display:inline;
    padding:4px 16px;
    transition: all 0.1s ease-out;
}
nav ul li a {
    color:#000;
    text-decoration: none;
}
nav ul li:hover{
    border-bottom:6px solid;
    transition: all 0.1s ease-in;
    border-radius:7px;
}
nav ul .Clicked{
    border-bottom:6px solid;
    border-radius:7px;
}
nav ul .Clicked:hover{
    border-bottom:5px solid #848484;
    border-radius:7px;
}
header{
    position: relative;
    color:#fff;
    font-size:22px;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease-out;
    font-family: 'Allerta Stencil', sans-serif;
}
header:hover{
    opacity: 0.95;
    transition: all 0.5s ease-in;
} transition: all 0.5s ease-in;
}
nav{
    background-color: #fff;
    font-family: 'Bree Serif', serif;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
    text-align: center
}
nav ul {
    margin: 20px 0;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    display: inline-table;
}
nav ul li {
    display:inline;
    padding:4px 16px;
    transition: all 0.1s ease-out;
}
nav ul li a {
    color:#000;
    text-decoration: none;
}
nav ul li:hover{
    border-bottom:6px solid;
    transition: all 0.1s ease-in;
    border-radius:7px;
}
nav ul .Clicked{
    border-bottom:6px solid;
    border-radius:7px;
}
nav ul .Clicked:hover{
    border-bottom:5px solid #848484;
    border-radius:7px;
}
header{
    position: relative;
    color:#fff;
    font-size:22px;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease-out;
    font-family: 'Allerta Stencil', sans-serif;
}
header:hover{
    opacity: 0.95;
    transition: all 0.5s ease-in;
}
header div {
    background-color: rgba(0,0,0,0.7);
    width:60%;
    padding:25px 40px;
    position: absolute;
    top:30%;
    left:18%;
    border-radius:100px;
}
header img{
    display: inline;
    width:100%;
    height:600px
}
header div p,h1 {
    text-align: center
}
header div h1{
    font-family: 'Bree Serif', serif;
    font-size:60px
}
.main{
    display:inline-flex;
    background:url(../imgs/transfer-request-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:#fff;
    text-align: center;
    width:100%;
    height:400px;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    margin-top:30px;
}
.main:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 708px;
    bottom: 0;
    width:1350px;
    height: 400px;
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
}
.main .BoxDiv{
    font-size:30px;
    font-weight: bold;
    padding: 100px 200px;
    width: 100%;
    color: white;
    z-index: 1
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:70px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}
.chances p{
    font-family: 'Changa', sans-serif;
    font-size: 30px
}

fieldset{
    margin-bottom: 10px;
    font-size:35px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    text-align: center;
    border: 2px groove;
    background:url(../imgs/most-award-header.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
select{
    padding:5px;
    text-align: left;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase
}

input[type="radio"]{
    padding:0px;
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:4%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer
}
input[type="checkbox"]{
    padding:0px;
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:4%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer
}
.tabcontent p{
    font-size: 30px;
    display: inline ;
}
.tabcontent hr{
    background: #000;
    border-color: #000;
    border-radius: 50%;
    margin: 10px 0;
}
input{
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:25%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase
}
input:placeholder-shown{
    transition: all 0.5s ease-out;
    font-size: 25px;
    text-transform: capitalize
}
input:hover{
    transition: all 0.5s ease-out;
    font-size: 20px;
    border-color: #848484;
}
input:focus{
    transition: all 0.5s ease-out;
    font-size: 20px;
    border-color: #848484;
}
label{
    padding:5px;
    text-align: center;
    font-size:30px;
    font-family: 'Bree Serif', serif;
    margin: 10px
}
input[type="button"],input[type="reset"]{
    cursor: url('../cursors/link.cur'), auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:25%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
}
input[type="button"]:hover{
    background-color: #000;
    color: #fff
}
input[type="reset"]:hover{
    background-color: #000;
    color: #fff
}
.par{
    font-size: 30px;
    padding: 5px 100px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    padding:2px 10%;
    border:1px dashed;
    border-radius:20px
}
.par2{
    font-size: 30px;
    padding: 5px 50px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    padding:2px 10%;
    border:1px dashed;
    border-radius:20px
}
button{
    padding:5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    width:20%;
    margin: 10px;
    cursor: url('../cursors/link.cur'), auto;
}
#certific{
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 50px;
    background: #fff
}
.certificate{
    position: relative;
    width:1040px;
    height: 700px;
    font-size:27px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border:2px dashed #000;
    background:url(../imgs/Certificate.jpg) 100% 100% no-repeat;
    background-position: center;
    font-family: 'Roboto Mono', monospace;
    padding: 5px
}
.certificate img{
    margin:35px
}
.certificate span{
    font-weight: bold
}
.certificate hr{
    border:1px groove #000;
    border-radius:100px
}
.idk{
    padding:5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}
.notice{
    padding:5px;
    text-align: center;
    font-size:22px;
    font-family: 'Changa', sans-serif;
}
.dropbtn {
    color: black;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -45px;
    border-radius:5px;
    font-size:22px
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000;
    color:#fff
}

.dropdown:hover .dropdown-content {
    display: block;
}
.column {
    position: relative;
    float: left;
    width: 18.51%;
    padding: 10px;
    text-align: center;
}

.container{
    padding:20px;
    background: url("../imgs/tranMback2.jpg");
    position: relative;
    text-align: center
}
.container img{
    width:90%;
    height:550px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
    border-radius:20px
    
}
.shoow{
    padding:8px;
    font-family: 'Bree Serif', serif;
    font-size:35px;
    font-weight: bold;
    text-align: center;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.95; 
    cursor: url('../cursors/link.cur'), auto; 
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
    background: #FFF;
    transition: all 0.4s ease-out;
    width: 70%;
    height: 210px;
    padding: 10px 20px;
    border-radius:20px
}

.column img:hover {
    opacity: 1;
    transition: all 0.4s ease-in;
}

.column .text {
    width:94%;
    color: #000;
    font-size:19px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    padding:8px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background:rgba(255,255,255,0.95);
    text-align: center;
    border-radius:10px;
    margin-top:5px
}

.row{
    background: url("../imgs/tranMback.jpg");
    padding:50px 0;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom:23px;
    right:20px;
    color: #fff;
    font-size:28px;
    font-weight: bold;
    width:96%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background:rgba(0,0,0,0.6);
    border-radius:4px
}

.main1{
    display:inline-flex;
    color:#fff;
    text-align: center;
    width:100%;    
}
.main1 .BoxDiv:hover{
    background:#000;
}

.main1 .BoxDiv{
    font-weight: bold;
    padding: 20px;
    width:100%;
    margin:10px 0;
    background:url(../imgs/most-award-header.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color: white;
    z-index: 1;
    text-align: center;
    border:4px dashed;
    cursor: url('../cursors/link.cur'), auto;
}
.main1 .BoxDiv a{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    text-decoration:none;
    color:white;
    font-size:50px
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top:20px;
    box-shadow: 0px 2px 20px 4px rgba(0,0,0,0.5);
    background: #070719;
    text-align: center;
    color: #fff
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size:23px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    box-sizing: border-box;
    width:23%
}

/* Change background color of buttons on hover */
.tab button:hover {
    background:#0B0B3B;
    border-radius: 15px;
    color:#fff;
}

/* Create an active/current tablink class */
.tab button.active {
   background:linear-gradient(to right, #dc281e, #dc281e);
    border-radius: 15px;
    color:#fff;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background:linear-gradient(to right, #b70a02, #dc281e);
    color: #fff;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    margin-top:3px;
    text-align: center;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.chancess{
    padding:5px 50px;
    font-size:16px!important;
    border:1px dashed;
    border-radius:10px;
    font-family: 'Changa', sans-serif;
    
}

footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}
.mySlides1 {display:none;}
.mySlides2 {display:none;}
.mySlides3 {display:none;}

@media only screen and (max-device-width : 1900px) {
    body{
        min-width: 1350px
    }
   
}
@media only screen and (min-width : 1350px) {
    .main:after {
    width: 100%;
    }
}