*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
    transition: all 0.2s ease-out;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3,input,textarea{
    cursor: url('../cursors/text.cur'), auto;
}
input[type="submit"]{
    cursor: url('../cursors/link.cur'), auto;
}
hr{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
nav{
    background-color: #000;
    font-family: 'Revalia', cursive;
    text-align: center;
    position: relative;
}
nav .logo{
    padding:10px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(to left, #09172b, #09182d);
    font-weight:900;
}
nav .logo img {
    vertical-align: middle;
    animation: Logo 4s;
    transition: all 1s ease-in-out;
    border-radius: 50%
}
nav .logo img:hover {
    box-shadow: 0px 0px 30px 0px #fff;
    transition: all 1s ease-in-out;
}
@keyframes Logo{
    0%{transform:translateY(100px)}
    10%{transform:translateY(-15px)}
    25%{transform:translateY(0px);box-shadow: 0px 0px 0px 0px #fff;}
    60%{box-shadow: 0px 0px 30px 0px #fff;}
    100%{box-shadow: 0px 0px 0px 0px #fff;}
}
nav ul {
    margin: 0;
    background:linear-gradient(to left, #09172b, #09182d);
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
    position: relative;
    border-bottom: 0.5px inset #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
nav ul li {
    display:inline;
    padding:20px 15px;
    transition: all 0.1s ease-out;
    cursor: url('../cursors/link.cur'), auto;
}
nav ul li a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;
}
nav ul li:hover{
    background: rgba(255,255,255);
    transition: all 0.1s ease-in;
    border-bottom:10px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul li:hover a{
    color: #09172b;
    font-weight: 900;
}
nav ul .Clicked{
    background: rgba(255,255,255);
    border: 5px solid #aaa;
    border-bottom:10px solid #fff;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav ul .Clicked a{
    color: #09172b;
}
.dropbtn {
    color: #fff;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -104.5px;
    top: 60px;
    font-size:19px;
}

.dropdown-content a {
    color: black;
    padding: 25px 7px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    border-right:7px solid #09172b;
    background:rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display:inline-flex;
    background:url(../imgs/transfer-request-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    height:400px;
    width: 100%;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    position: relative
}
.main .main-overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #09172b 100%, #09172b 100%);
    opacity: 0.85;
    z-index: 1;
}
.main .BoxDiv{
    font-size:25px;
    font-weight: bold;
    padding: 100px 180px;
    width: 100%;
    color: white;
    z-index: 2
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:55px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}

.chances p{
    font-family: 'Changa', sans-serif;
    font-size: 30px
}

fieldset{
    margin-bottom: 10px;
    font-size:35px;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    text-align: center;
    border: 2px groove;
    background:url(../imgs/most-award-header.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
select{
    padding:5px;
    text-align: left;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase
}

input[type="radio"]{
    padding:0px;
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:4%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer
}
input[type="checkbox"]{
    padding:0px;
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:4%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer
}
.tabcontent p{
    font-size: 30px;
    display: inline ;
}
.tabcontent hr{
    background: #000;
    border-color: #000;
    border-radius: 50%;
    margin: 10px 0;
}
input{
    text-align: left;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:25%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase
}
input:placeholder-shown{
    transition: all 0.5s ease-out;
    font-size: 25px;
    text-transform: capitalize
}
input:hover{
    transition: all 0.5s ease-out;
    font-size: 20px;
    border-color: #848484;
}
input:focus{
    transition: all 0.5s ease-out;
    font-size: 20px;
    border-color: #848484;
}
label{
    padding:5px;
    text-align: center;
    font-size:30px;
    font-family: 'Bree Serif', serif;
    margin: 10px
}
input[type="button"],input[type="reset"]{
    cursor: url('../cursors/link.cur'), auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    width:25%;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #1C1C1C;
    transition: all 0.5s ease-in;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
}
input[type="button"]:hover{
    background-color: #000;
    color: #fff
}
input[type="reset"]:hover{
    background-color: #000;
    color: #fff
}
.par{
    font-size: 30px;
    padding: 5px 100px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    padding:2px 10%;
    border:1px dashed;
    border-radius:20px
}
.par2{
    font-size: 30px;
    padding: 5px 50px;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    padding:2px 10%;
    border:1px dashed;
    border-radius:20px
}
button{
    padding:5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    width:20%;
    margin: 10px;
    cursor: url('../cursors/link.cur'), auto;
}
#certific{
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 50px;
    background: #fff
}
.certificate{
    position: relative;
    width:1040px;
    height: 700px;
    font-size:27px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border:2px dashed #000;
    background:url(../imgs/Certificate.jpg) 100% 100% no-repeat;
    background-position: center;
    font-family: 'Roboto Mono', monospace;
    padding: 5px
}
.certificate img{
    margin:35px
}
.certificate span{
    font-weight: bold
}
.certificate hr{
    border:1px groove #000;
    border-radius:100px
}
.idk{
    padding:5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}
.notice{
    padding:5px;
    text-align: center;
    font-size:22px;
    font-family: 'Changa', sans-serif;
}
.column {
    position: relative;
    float: left;
    width: 18.51%;
    padding: 10px;
    text-align: center;
}

.container{
    padding:20px;
    background: url("../imgs/tranMback2.jpg");
    position: relative;
    text-align: center
}
.container img{
    width:90%;
    height:550px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
    border-radius:20px
    
}
.shoow{
    padding:8px;
    font-family: 'Bree Serif', serif;
    font-size:35px;
    font-weight: bold;
    text-align: center;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.95; 
    cursor: url('../cursors/link.cur'), auto; 
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
    background: #FFF;
    transition: all 0.4s ease-out;
    width: 70%;
    height: 210px;
    padding: 10px 20px;
    border-radius:20px
}

.column img:hover {
    opacity: 1;
    transition: all 0.4s ease-in;
}

.column .text {
    width:94%;
    color: #000;
    font-size:19px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    padding:8px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background:rgba(255,255,255,0.95);
    text-align: center;
    border-radius:10px;
    margin-top:5px
}

.row{
    background: url("../imgs/tranMback.jpg");
    padding:50px 0;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom:23px;
    right:20px;
    color: #fff;
    font-size:28px;
    font-weight: bold;
    width:96%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background:rgba(0,0,0,0.6);
    border-radius:4px
}

.main1{
    display:inline-flex;
    color:#fff;
    text-align: center;
    width:100%;    
}
.main1 .BoxDiv:hover{
    background:#000;
}

.main1 .BoxDiv{
    font-weight: bold;
    padding: 20px;
    width:100%;
    margin:10px 0;
    background:url(../imgs/most-award-header.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color: white;
    z-index: 1;
    text-align: center;
    border:4px dashed;
    cursor: url('../cursors/link.cur'), auto;
}
.main1 .BoxDiv a{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    text-decoration:none;
    color:white;
    font-size:50px
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 20px 4px rgba(0,0,0,0.5);
    background: #070719;
    text-align: center;
    color: #fff
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size:23px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    box-sizing: border-box;
    width:23%
}

/* Change background color of buttons on hover */
.tab button:hover {
    background:#0B0B3B;
    border-radius: 15px;
    color:#fff;
}

/* Create an active/current tablink class */
.tab button.active {
   background:linear-gradient(to right, #dc281e, #dc281e);
    border-radius: 15px;
    color:#fff;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background:linear-gradient(to right, #b70a02, #dc281e);
    color: #fff;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    margin-top:3px;
    text-align: center;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.chancess{
    padding:5px 50px;
    font-size:16px!important;
    border:1px dashed;
    border-radius:10px;
    font-family: 'Changa', sans-serif;
    
}
footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}
.mySlides1 {display:none;}
.mySlides2 {display:none;}
.mySlides3 {display:none;}

@media screen and (max-width : 1280px) {
    body{
        min-width: 1250px
    }
    .main .BoxDiv h1 {
        font-size: 50px;
    }
}