*{
    margin:0;
    cursor: url('../cursors/arrow.cur'), auto;
}
a{
    cursor: url('../cursors/link.cur'), auto;
}
p,span,h1,h2,h3{
    cursor: url('../cursors/text.cur'), auto;
}
hr{
    border: none;
    background: #A4A4A4;
    border-radius: 50%;
    height: 2px;
    margin-top: 20px
}
nav{
    background-color: #fff;
    font-family: 'Bree Serif', serif;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
    text-align: center
}
nav ul {
    margin: 20px 0;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    display: inline-table;
}
nav ul li {
    display:inline;
    padding:4px 16px;
    transition: all 0.1s ease-out;
}
nav ul li a {
    color:#000;
    text-decoration: none;
}
nav ul li:hover{
    border-bottom:6px solid;
    transition: all 0.1s ease-in;
    border-radius:7px;
}
nav ul .Clicked{
    border-bottom:6px solid;
    border-radius:7px;
}
nav ul .Clicked:hover{
    border-bottom:5px solid #848484;
    border-radius:7px;
}
.dropbtn {
    color: black;
    padding:4px 16px;
    border: none;
    cursor:url(../cursors/link.cur), auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -45px;
    border-radius:5px;
    font-size:22px
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000;
    color:#fff
}

.dropdown:hover .dropdown-content {
    display: block;
}
header{
    position: relative;
    color:#fff;
    font-size:22px;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease-out;
    font-family: 'Allerta Stencil', sans-serif;
}
header:hover{
    opacity: 0.95;
    transition: all 0.5s ease-in;
}
header div {
    background-color: rgba(0,0,0,0.7);
    width:60%;
    padding:25px 40px;
    position: absolute;
    top:30%;
    left:18%;
    border-radius:100px;
}
header img{
    display: inline;
    width:100%;
    height:600px
}
header div p,h1 {
    text-align: center
}
header div h1{
    font-family: 'Bree Serif', serif;
    font-size:60px
}

.main{
    display:inline-flex;
    background:url(../imgs/Statistics2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:#fff;
    text-align: center;
    width:100%;
    height:400px;
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.5);
    margin-top:30px;
}
.main:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 708px;
    bottom: 0;
    width:1350px;
    height: 400px;
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
}
.main .BoxDiv{
    font-size:30px;
    font-weight: bold;
    padding: 100px 200px;
    width: 100%;
    color: white;
    z-index: 1
}
.main .BoxDiv h1{
    font-family: 'Bree Serif', serif;
    padding:0 auto;
    font-size:60px
}
.main .BoxDiv span{
    font-family: 'Allerta Stencil', sans-serif;
}
.users-section{
    padding:10px 50px 80px;
    text-align: center;
    box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
}
.users-section p{
    padding:0 50px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
    transition: all 0.5s ease-out;
}
.users-section p:hover{
    opacity: 0.85;
    transition: all 0.5s ease-in;
}
.users-section .users{
    padding-bottom: 40px;
    padding-top: 40px
}
.users-section .users h2{
    padding:5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    margin-bottom:30px;
    font-family: 'Bree Serif', serif;
    letter-spacing:4px;
    border-radius:100px;
}
.users-section .users div {
    max-width: 270px;
    display: inline-block;
    margin: 10px 150px
}
.users-section .users img{
    border-radius:100px;
    width:300px;
    height:370px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    margin:20px;
    cursor: url('../cursors/link.cur'), auto;
    padding: 5px;
    transition: all 0.5s ease-out;
}
.users-section img:hover{
    opacity: 0.85;
    transition: all 0.5s ease-in;
}
.users-section .users img:hover{
    background:linear-gradient(to bottom right, #200122 , #6f0000);
    color:#fff
}
.users-section .users p {
    font-size:35px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    border-radius:7px;
    font-family: 'Bree Serif', serif;
    cursor: url('../cursors/link.cur'), auto;
}
.users-section .users p:hover{
    background:linear-gradient(to bottom right, #200122 , #6f0000);
    color:#fff;
}

.Cups-section{
    text-align:center;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.3);
}
.Cups-section p{
        font-size: 15px;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    direction: rtl;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    padding: 2px 0px;
    min-width: 200px;
}
.Cups-section .Cups{
    padding-bottom: 30px;
    padding-top: 20px
}

.Cups-section .Cups div {
    display: inline-block;
    margin: 0px 50px 30px;
    border-radius: 50px;
    padding: 0px 30px;
}
.Cups-section .Cups img{
    border-radius: 10px;
    width: 140px;
    height: 160px;
    box-shadow: 0px 5px 0px rgba(0,0,0,0.7);
    margin: 20px 5px;
    padding: 10px;
    transition: all 0.5s ease-out;
}

.Hidden-PL{
    font-family: 'Bree Serif', serif;
    padding:60px 20px;
    background:linear-gradient(to right, #550505, #6f0000);
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
}
.Hidden-PL .hidden-header{
    text-align: center
}
.Hidden-PL .hidden-header img {
    border: 3px inset #eee;
    border-radius: 20%;
    width: 400px;
    height: 400px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
    padding: 5px;
    background-color: #fff;
    margin: 20px auto;
}
.Hidden-PL .hidden-header p{
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.5);
    border-radius: 15px;
    font-family: 'Bree Serif', serif;
    padding: 10px 25px;
    width: 420px;
    background-color: #fff;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: 3px;
}
.Hidden-PL .hidden-content{
    font-family: 'Bree Serif', serif;
    padding:20px 20px;
    background-color:#fff;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.5);
}
.Hidden-PL .hidden-contents{
    font-family: 'Bree Serif', serif;
    padding:0px 20px;
    background-color:#fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    width:31%;
    font-size:18.5px;
    text-align: center
}
.Hidden-PL .hidden-contents2{
    font-family: 'Bree Serif', serif;
    padding:10px 20px;
    background-color:#fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    width:48%;
    font-size:20px;
    text-align: center
}
.Hidden-PL .hidden-contentss{
    padding:10px 20px;
    background-color:#fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    text-align: center
}
.Hidden-PL .hidden-contentsss{
    padding:10px 20px;
    background-color:#fff;
    box-shadow:inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    text-align: center
}
.Hidden-PL .hidden-contentsss h2{
    padding:5px 10px;
    font-size: 35px;
    font-family: 'Changa', sans-serif;
    direction:rtl;
    border-bottom: 2px inset rgba(0,0,0,0.5);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.hidden-content .total{
    font-size:35px;
    font-weight:bold;
    padding:10px;
    color:#D80004;
    font-family: 'Changa', sans-serif;
    direction:rtl;
}
.Hidden-PL .flex3{
    display:flex
}
.Hidden-PL .hidden-content .gridl{
    width:47%
}
.Hidden-PL .hidden-content .gridr{
    width:50%
}

.Hidden-PL .hidden-content .tourimgs img{
    width:28%;
    height:300px;
    padding:27px;
    margin:5px
}

footer{
    background-color: black;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:20px
}
footer i{
    margin:20px 20px 30px;
    cursor: url('../cursors/link.cur'), auto;
}
footer i:hover{
    color:#858487
}

 
.progress{
    height: 30px;
    background: #eee;
    overflow: visible;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.3);
    border-radius:5px;
    width:70%;
    margin: 0 auto 30px;
}

.progress .progress-bar{
    position: relative;
    border-radius:5px;
    animation: animate-positive 2s;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    border-bottom-right-radius:15px;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.2);
}

.progress .progress-bar:after{
    content: "";
    display: inline-block;
    width:15px;
    height:50px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -1px;
    z-index: 1;
    transform: rotate(20deg);
}

.progress .progress-value{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: -30px;
    right: -40px;
}

.progress-title{
    font-size: 25px
}


.progress-2{
    height: 30px;
    background: #eee;
    overflow: visible;
    box-shadow:inset 0px 0px 8px 2px rgba(0,0,0,0.3);
    border-radius:5px;
    width:90%;
    position: relative;
    margin: 0 auto; 
}

.progress-2 .progress-bar-2{
    position: relative;
    border-radius:5px;
    animation: animate-positive 2s;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    border-bottom-right-radius:15px;
    box-shadow:inset 0px 0px 8px 2px rgba(0,0,0,0.3);
}

.progress-2 .progress-bar-2:after{
    content: "";
    display: inline-block;
    width:25px;
    height:80px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -1px;
    z-index: 1;
}

.progress-2 .progress-value-2{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: -30px;
    right: -35px;
}

.progress-title{
    font-size: 25px
}

@keyframes animate-positive {
    0%{ width: 0; }
}

@media only screen and (max-device-width : 1900px) {
    body{
        min-width: 1350px
    }
    p{
        min-width: 265px;
    }
    #paragraph2 {
        font-size: 35px!important;
        padding-right:40px!important;
        padding-left:40px!important
    }
}
@media only screen and (min-width : 1350px) {
    .main:after {
    width: 100%;
    }
}